In [ ]:
import numpy as np
import pandas as pd
movies = pd.read_csv("https://raw.githubusercontent.com/icaromisquita/WBS-Project-8---Reccomenders/main/movies.csv")
tags = pd.read_csv("https://raw.githubusercontent.com/icaromisquita/WBS-Project-8---Reccomenders/main/tags.csv")
links = pd.read_csv("https://raw.githubusercontent.com/icaromisquita/WBS-Project-8---Reccomenders/main/links.csv")
ratings = pd.read_csv("https://raw.githubusercontent.com/icaromisquita/WBS-Project-8---Reccomenders/main/ratings.csv")

In [ ]:
'''
genres = movies["genres"].str.split("|",expand =True)
movies = pd.concat([movies, genres], axis=1, ignore_index=False)
movies.head()
'''

'\ngenres = movies["genres"].str.split("|",expand =True)\nmovies = pd.concat([movies, genres], axis=1, ignore_index=False)\nmovies.head()\n'

In [ ]:
# movies.query("genres == 'Comedy'")

In [ ]:
# rating = pd.DataFrame(frame.groupby('placeID')['rating'].mean())
# rating.sort_values("rating", ascending=False).head()

In [ ]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [ ]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

Joining the Dataframes

In [ ]:
merge_movies = movies.merge(tags, left_on='movieId', right_on='movieId')
merge_movies_ratings = merge_movies.merge(ratings, left_on='movieId', right_on='movieId')
df_merged = merge_movies_ratings.merge(links, left_on='movieId', right_on='movieId')
df_merged.head()

,movieId,title,genres,userId_x,tag,timestamp_x,userId_y,rating,timestamp_y,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764,1,4.0,964982703,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764,5,4.0,847434962,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764,7,4.5,1106635946,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764,15,2.5,1510577970,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764,17,4.5,1305696483,114709,862.0

Creating the recommender

In [ ]:
merge_movies = movies.merge(tags, left_on='movieId', right_on='movieId')
names =  merge_movies[['movieId', 'title']]
names.head()

   movieId             title
0        1  Toy Story (1995)
1        1  Toy Story (1995)
2        1  Toy Story (1995)
3        2    Jumanji (1995)
4        2    Jumanji (1995)

In [ ]:
merge_movies.head(5)

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336,pixar,1139045764
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474,pixar,1137206825
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567,fun,1525286013
3,2,Jumanji (1995),Adventure|Children|Fantasy,62,fantasy,1528843929
4,2,Jumanji (1995),Adventure|Children|Fantasy,62,magic board game,1528843932

In [ ]:
rating = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
rating.sort_values("rating", ascending=False).head()

         rating
movieId
88448       5.0
100556      5.0
143031      5.0
143511      5.0
143559      5.0

In [ ]:
rating['rating_count'] = ratings.groupby('movieId')['rating'].count()
rating.sort_values("rating_count", ascending=False).head()

           rating  rating_count
movieId
356      4.164134           329
318      4.429022           317
296      4.197068           307
593      4.161290           279
2571     4.192446           278

In [ ]:
# movieId of most popular place
top_popular_movieId = rating.sort_values('rating_count', ascending=False).head(1).index[0]

# name of the most popular place
movies[movies['movieId']==top_popular_movieId]

     movieId                title                    genres
314      356  Forrest Gump (1994)  Comedy|Drama|Romance|War